{% block html %}
    <h1>Validation de votre compte</h1>

    Confirmer votre adresse email en cliquant <a href="{{ url }}">ici</a>
{% endblock html %}

{% block text %}
    Validation de votre compte

    Confirmer votre adresse email en vous rendant sur cette url : {{ url }}
{% endblock text %}
